$zi:#333;$da:12px;$w:1200px;
$r:right;$l:left;

.top{
    height: 30px;
    background: #f6f6f6;
    section{
        width: $w;
        height: 30px;
        margin: auto;
        // background: green;
        .topchilda{
            float: $r;
            line-height: 30px;
            position: relative;
            a{
                color: $zi;
                font-size: $da;
                text-decoration: none;
                margin-left: 15px;
                padding-right: 10px;
                &:hover{
                    color: #ff464e;
                }
            }
            span{
                font-size: $da;
                color: $zi;
            }
            .ying1{
                width: 72px;height: 54px;
                background: #fff;
                border: 1px solid #e5e5e5;
                border-radius: 6px;
                overflow: hidden;
                position: absolute;
                top: 30px;
                right: 0px;
                display: none;
                ul{
                    li{
                        height: 26px;
                        a{
                            width: 58px;
                            height: 26px;
                            padding: 0;
                        }
                    }
                }
            }
            .kehu{
                &:hover +.ying1{
                    display: block;
                    z-index: 99999;
                }
            }
        }
        .topchildb{
            float: $r;
            height: 30px;
            line-height: 30px;
            :hover{
                background: #fff;
            }
            a{
                text-decoration: none;
                color: $zi;
                width: 107px;
                display: inline-block;
                margin-left: 15px;
                .gouwu{
                    height: 24px;
                    font-size: $da;
                    color: $zi;
                    display: inline-block;
                    em{ 
                        width: 18px;height: 18px;
                        line-height: 18px;
                        display: inline-block;
                        background: #ff464e;
                        border-radius: 15px;
                        color: #fff;
                        font-family: "宋体";
                        margin: 3px 0 0 5px;
                        text-align: center;
                        font-style: normal;
                    }
                }
            }
        }
        .topchildc{
            float: $r;
            line-height: 30px;
            a{
                text-decoration: none;
                font-size: $da;
                color: $zi;
                margin-left: 15px;
                &:hover{
                    color: #ff464e;
                }
            }
        }
    }
}
.header{
    .headerchilda{
        width: $w;
        height: 85px;
        margin: auto;
        // background: gold;
        padding: 16px 0px;
        aside:nth-child(1){
            float: left;
        }
        aside:nth-child(2){
            float: left;
             margin-left: 200px;
        }
        aside:nth-child(3){
            float: right;
            width: 273px;
            height: 35px;
            margin: 9px 0 0 0;
            position: relative;
            span:nth-child(2){
                // display: inline-block;
                width: 200px;height: 35px;
                line-height: 52px;
                float: right;
                input{
                    float: right;
                    border: none;
                    width: 190px;
                    background: #efefef;
                    color: #131212;
                    line-height: 35px;
                    font-size: $da;
                }
            }
            span:nth-child(1){
                float: right;
                background: #ff464e;
                height: 35px;
                .smt{
                    // float: right;
                    width: 37px;height: 35px;
                    border: none;
                    background: url(../images/total/header-total.gif?20160112) no-repeat;
                }
            }
            img{
                position: absolute;
                right: -74px;top: 100px;
            }
            
        }
    }
    .headerchildb{
        width:100%;height: 40px;
        border-bottom: 2px solid #ff464e;
        aside{
            width: $w;height: 40px;
            line-height: 40px;
            margin: auto;
            // background: green;
            ul{
                float: left;
                height: 38px;
                position: relative;
                li{
                    float: left;
                    height: 38px;
                    a{
                        display: inline;
                        padding: 10px 24px 0;
                        &:hover{
                            color: #ff464e;
                            text-decoration: none;

                        }
                    }
                }
                li:nth-child(1){
                    
                    background: #ff464e;
                    border-radius: 6px 6px 0px 0px;
                    a{
                        color: #fff;
                        &:hover{
                            color: #fff;
                        }
                    }
                    
                }
                .ying2{
                    display: none;
                    position: absolute;
                    top: 38px;
                    right: -32px;
                }
                .last{
                    &:hover +.ying2{
                        display: block;
                    }
                }
            }
        }
    }
}
main{
    background: #f6f6f6;
}
.dao{
    width: 1200px;height: 380px;
    margin: auto;
    // background: yellow;
    position: relative;
    .daochilda{
        width: 210px;height: 380px;
        // background: blue;
        // float: left;
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
        dl{
            height: 377px;
            padding: 2px 10px 1px;
            background: #fff;
            overflow: hidden;
            dd{
                width: 50%;height: 54px;
                float: left;
                text-align: center;
                overflow: hidden;
                background: url(../images/global/dotted_line.png) repeat-x bottom;
                a{
                    color: #5e5e5e;
                    font-size: 14px;
                    &:hover{
                        color: #ff464e;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .daochildb{
        width: 700px;height: 360px;
        overflow: hidden;
        // background: green;
        position: absolute;
        left: 230px;
        top: 20px;
    }
    .daochildc{
        width: 250px;height: 360px;
        overflow: hidden;
        position: absolute;
        right: 0px;
        top: 20px;
        dl{
            width: 250px;height: 360px;
            background: #e2e2e2;
            overflow: hidden;
            dd{
                float: left;
                display: inline;
                margin: 0px 1px 1px 0px;
            }
        }
    }
}
.jrpp{
    width: 1200px;height: 310px;
    margin:auto;
    margin-top: 30px;
    padding: 20px;
    // background: green;
    .jrppchilda{
        height: 45px;
        // background: yellow;
        // padding: 20px;
        div{
            height: 35px;
            float: left;
            h2{
                font-family: "微软雅黑","宋体";
                font-size: 20px;
                line-height: 32px;
                float: left;
            }
            span{
                font-family: "微软雅黑","宋体";
                font-size: 16px;
                line-height: 32px;
                float: left;
                margin-left: 10px;
                color: #bbbbbb;
            }
        }
        .fr{
            float:right;
            margin-right: 6px;
            .active{
                a{
                    span{
                        color: #ff464e;
                    }
                }
            }
        }
    }
    .jrppchildb{
        height: 245px;
        // background: blueviolet;
        .brand_data{
            overflow: hidden;
            li{
                width: 278px;height: 170px;
                float: left;
                margin-right: 12px;;
                .brand-status{
                    a{
                        .brand-pic{
                            width: 278px;height: 130px;
                            position: relative;
                            img{
                                width: 278px;height: 130px;
                            }
                            .brand_time{
                                width: 281px;height: 22px;
                                position: absolute;
                                bottom: 0px;
                                p{
                                    text-align: center;
                                    color: #fff;
                                    font-size: 12px;
                                    line-height: 22px;
                                    background-color:rgba($color:#5e5e5e, $alpha: 0.8);
                                }
                            }
                        }
                        .card{
                            width: 278px;height: 40px;
                            position: relative;
                            img{
                                width: 60px;height: 30px;
                                float: left;
                                margin: 10px 0 0 10px;
                            }
                            .discount1{
                                width: 68px;height: 26px;
                                // float: right; 
                                position: absolute;
                                right: 10px;
                                top: 10px;
                                text-align: center;
                                span{
                                    width: 100%;;height: 26px;
                                    line-height: 26px;
                                    color: #ff464e;
                                    font-size: 14px;
                                    text-align: center;
                                }
                            }
                            .title{
                                width: 100px;height: 30px;
                                font-size: 12px;
                                color: #333;
                                margin: 10px 0 0 10px;
                                float: left;
                            }
                            &:hover .discount1{
                                background: #ff464e;
                                span{
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
        .brand_logo{
            height: 35px;
            line-height: 35px;
            margin: 20px 0;
            .one{
                width: 100px;
                font-size: 14px;
                color: #666666;
            }
            li{
                float: left;
                width: 100px;height: 35px;
                margin: 0px 10px;
                img{
                    width: 70px;height: 35px;
                }
            }
        }
    }
}