.list-main {
  margin: 0 !important;
}

.list-main .brand_bar {
  height: 200px;
}

.list-main .brand_bar ul {
  height: 200px;
  margin-bottom: 0 !important;
}

.list-main .brand_bar ul li {
  height: 200px;
  position: relative;
}

.list-main .brand_bar ul li img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.list-main .main-list {
  width: 1200px;
  margin: auto;
  padding-top: 25px;
}

.list-main .main-list .listul {
  width: 1200px;
  clear: both;
}

.list-main .main-list .listul li {
  width: 230px;
  height: 290px;
  float: left;
  margin: 0 6px 12px 0;
  padding-top: 6px;
  border: 1px solid #fff;
}

.list-main .main-list .listul li .buy {
  width: 232px;
  height: 270px;
}

.list-main .main-list .listul li .buy .good-pic {
  width: 220px;
  padding-left: 4px;
}

.list-main .main-list .listul li .buy .good-pic .pic-img a img {
  max-width: 220ox;
  max-height: 220px;
}

.list-main .main-list .listul li .buy .good-price {
  width: 220px;
  height: 32px;
  padding: 0px 10px 0 8px;
}

.list-main .main-list .listul li .buy .good-price .price-current {
  color: #ff464e;
  font-size: 18px;
  font-family: arial;
}

.list-main .main-list .listul li .buy .good-price .des-other {
  margin: 2px 0 0 5px;
  color: #bbbbbb;
  font-size: 12px;
  text-decoration: line-through;
}

.list-main .main-list .listul li .buy .good-title {
  width: 220px;
  height: 18px;
  line-height: 18px;
  padding: 0 10px 0 10px;
}

.list-main .main-list .listul li .buy .good-title a {
  max-width: 160px;
  color: #333;
  font-size: 12px;
}

.list-main .main-list .listul li .buy .good-title span {
  float: right;
  color: #bbbbbb;
  font-size: 12px;
  margin-right: 6px;
}

.list-main .main-list .listul li:hover {
  border: 1px solid #bbbbbb;
}

.list-main .main-list .listul div:nth-last-child(1) {
  clear: both;
}
